body {
  margin: 0;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 10px 15px;
}
